APP_NAME=PreprlabsV2
APP_ENV=Production
APP_KEY=base64:OOAtzdcxhBsV/nrv/MLuAlsMqYhFx6g0BTIukvvmEFA=
APP_DEBUG=true
APP_URL=https://betaapis.learnlab.ai/
FRONTEND_SITE_URL=https://dev.learnlab.ai/

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=172.31.27.101
DB_PORT=3307
DB_DATABASE=learnlab_beta
DB_USERNAME=learnlab_beta
DB_PASSWORD=Learnlab@2022Beta

DB_CONNECTION_SECOND=mysql2
DB_HOST_SECOND=172.31.27.101:3307
DB_PORT_SECOND=3306
DB_DATABASE_SECOND=learnlab_betaold
DB_USERNAME_SECOND=learnlab_betaold
DB_PASSWORD_SECOND=Learnlab@2022Betaold

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=preprredis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=25
MAIL_USERNAME=apikey
MAIL_PASSWORD=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
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=hemarao@aistechnolabs.org
MAIL_FROM_NAME="Learnlab AI"

AWS_ACCESS_KEY_ID="AKIA46A3KQNKP3HH5JGP"
AWS_SECRET_ACCESS_KEY="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"
AWS_BUCKET=preprlocaldevelopmentnew
CDN_URL="https://d2xlrb23ds57m7.cloudfront.net/"
AWS_URL="https://preprlocaldevelopmentnew.s3.ca-central-1.amazonaws.com/"
AWS_DEFAULT_REGION=ca-central-1
AMAZON_VERSION="2006-03-01"
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TWILIO_SID="ACc376bac556a00f1ac5571b0d77aae6b2"
TWILIO_AUTH_TOKEN="d3ff052469919f85abb389edab50194a"
TWILIO_NUMBER="+13205250027"

L5_SWAGGER_GENERATE_ALWAYS=true

CHARGEBEE_SITE="preprme-test"
CHARGEBEE_KEY="test_b9uO7I3n4qXg20G7sMfkiyEhwQYdNbd9"

BASE_PLAN="free-plan-CAD-Yearly"

MAGNET_OAUTH_SERVER="https://magnet.dev.whoplusyou.com/oauth/authorize?"
MAGNET_OAUTH_TOKEN="https://magnet.dev.whoplusyou.com/oauth/token"
MAGNET_OAUTH_GET_USER="https://magnet.dev.whoplusyou.com/api/v2/get-basic-user-info"
MAGNET_CLIENT_ID= 109
MAGNET_SECRET_KEY="IrjoitrH7e5a4dhGIhsFqgCupE7oPXn0vNEj66Mw"
MAGNET_LMS_USER_INFO="https://magnet.dev.whoplusyou.com/api/v2/lms/lms-user-communities"
MAGNET_UPDATE_LEARNER_INFO="https://magnet.dev.whoplusyou.com/api/v2/lms/update-learner-information"
MAGNET_UPDATE_LEARNING_CONTENT="https://magnet.dev.whoplusyou.com/api/v2/lms/update-learning-content"

JOBS_RECOMMENDATION_ENGINE_URL="https://eplhcosya0.execute-api.ca-central-1.amazonaws.com/jobs/"
RELATED_SKILLS_AUTH_TOKEN="PreprAp!2023"
FRENCH_WIKIPEDIA_URL="https://fr.wikipedia.org/w/api.php"
ENGLISH_WIKIPEDIA_URL="https://en.wikipedia.org/w/api.php"
WIKIPEDIA_URL="https://en.wikipedia.org/wiki/"

SKILLS_RECOMMENDATION_ENGINE_URL="https://ut4muvet4f.execute-api.ca-central-1.amazonaws.com/skills/skills"
OPENAI_API_KEY="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"
BING_API_KEY="02e80d304cdc4afcabe644daedfcba30"
RESOURCE_SUMMARIZER_API_KEY="afd7dafc5faf9c792cfb9fd4451f853f"
PROJECT_ASSESSOR_API_KEY="e13d403f87a3cb4c88285d2dc1cdfce7"

OPENAI_ENDPOINT="https://api.openai.com/v1/chat/completions"
BING_DEFAULT_ENDPOINT="https://api.bing.microsoft.com/v7.0/search"
BING_VIDEO_ENDPOINT="https://api.bing.microsoft.com/v7.0/videos/search"
RESOURCE_SUMMARIZER_ENDPOINT="https://wcpdseh3sxrkxx43msoncus3o40echeh.lambda-url.ca-central-1.on.aws/"
PROJECT_ASSESSOR_ENDPOINT="https://th7cgys3gq4nz4ipzr5aekbtnu0hlywt.lambda-url.ca-central-1.on.aws/"

GO1_CLIENT_ID=3cc7fd756f2ed267f99c8559c05d6d64a9fc5514
GO1_CLIENT_SECRET=67cdd61562498ceabfda11239717cbd66a79454f
GO1_DEFAULT_USER_PASSWORD=8317dTTmqeTQ
GO1_EMAIL_PREFIX=_prepr_beta_react
GO1_PREPR_ID=19
GO1_TOTAL_RESOURCE_DATA=10000
GO1_BASE_URL=https://api.go1.com
GO1_AUTH_URL=https://auth.go1.com
GO1_API_VERSION=v2

SCORM_ROOT_DIRECTORY="uploads/scorm/"
SCORM_FILESYSTEM_DISK="public"
SCORM_TOKEN_EXPIRY_DURATION_HOUR=24

AIRMEET_BASE_URL="https://api-gateway.airmeet.com"
AIRMEET_ACCESS_KEY="ba640f56-8ac8-41bb-9152-6c0c2c36ffdb#in"
AIRMEET_SECRET_KEY="e27c3db1-4327-41eb-964b-08098160b850"

CAMPUS_CONNECT_KEY="cc_5gW4efqWgdUg6tXs0kPKn88z11pDx"
CAMPUS_CONNECT_SECRET="cc_DN60cezJb1RCwQc7pDrdTHfCc7PJrFtPdZANc"
CAMPUS_CONNECT_API_URL="https://orbistest.outcomecampusconnect.ca/api/v1/"
MIXPANEL_TOKEN="ea314db58a7bac1e0328d06986ad2157"
RESUME_PARSER_KEY="XTASke8dmFDYLoitUCeG2K4Rl4Lqv3l2TuOHOIt2"

UNIFIED_USE_FAKER=true
UNIFIED_WORKSPACE="6511e914c52f55214f95da7d"
UNIFIED_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2NTEzYzY5ZDc4MTllMTczYmJkYzMxMjEiLCJ3b3Jrc3BhY2VfaWQiOiI2NTExZTkxNGM1MmY1NTIxNGY5NWRhN2QiLCJpYXQiOjE2OTkyNDk5MTJ9.ei3zKij7rd1mhyJvX_5W9asckIH8-nbZTEBNZP-1zJQ"
UNIFIED_BASE_URL="https://api.unified.to"

FIREBASE_CREDENTIALS=public/FCM/learnlab-c8e19-8b0204ac1518.json

APACHE_SOLR_URL=http://192.168.1.147:8981
APACHE_SOLR_USERNAME=solr
APACHE_SOLR_PASSWORD=SolrRocks
