/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/dist
/public/uploads
/storage/app/public
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.rnd
/.idea
/.vscode
/composer.lock
/package-lock.json
